@page
@model LeapYear.Pages.ZapisaneModel

<div class="text-center">

    <table class="table table-bordered table-striped" style="width: 100%">
        <tbody>
            @foreach(var person in @Model.People)
            {
                <tr>
                    @if(person.IsLeapYear)
                    {
                        <td>@person.Name urodził się w @person.Year.
                            To był rok przestępny.
                        </td>
                    }
                    else
                    {
                        <td>@person.Name urodził się w @person.Year.
                            To nie był rok przestępny.
                        </td>
                    }
                    
                </tr>
            }
        </tbody>
    </table>
</div>
